/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg.jpg'); /* Replace with the actual image URL or path */
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 51, 0.3); /* Navy blue with transparency */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: navajowhite;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

/* Form Styles */
form {
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
}

.form-group {
    display: flex;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #00bfff;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 51, 0.3);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.btn:hover {
    background-color: rgb(21, 21, 115);
}

/* Search Styles */
.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#searchInput {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

/* Book List Styles */
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book h3 {
    margin-top: 0;
    color: #000033;
}

.book p {
    margin: 5px 0;
    color: #333;
}
